a {
   color:#11999E;
}

body {
     margin:0px;
     text-align:center;
     font-family: 'Merriweather', serif;
}

.bottom-container {
      background-color:#66BFBF;
      padding-top: 35px;
      padding-bottom: 35px;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
  
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
  text-decoration: none;
}

#credit {
   color:#EAF6F6;
   font-family:
   
}

.coding {
   margin-bottom:60px;
}


.contact-me {
   margin:70px auto 100px auto;
}

.web-development-img {
    width:25%;
    float: left;
    margin-right: 30px;
    background-color:#eb3a4d;
    border-radius:50%;
}


.gaming-img {
    width:25%;
    float: right;
    margin-left: 30px;   
}


h1 {
     font-family:'Sacramento', cursive;
     font-size:5.625rem;  
     margin: 50px auto 0 auto; 
     color: #66BFBF;   
}

h2 {
     font-family: 'Montserrat', sans-serif;
     font-size: 2.5rem;
     font-weight: bold ;
     color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

hr {   
   border-top:7px dotted; 
   border-left:0;
   border-bottom:0;
   border-right:0;
   color:#c7d1cb;
   width:5%;
   height:5px;  
}

.forest {
     object-fit:cover;
     width:100%;     
}

.footer-link {
     padding-left:15px;
     padding-right:15px;
}

.middle-container {
     margin:70px auto 100px auto;

  }

.profile {
         margin: 0px auto 70px auto;
}

p {
  font-weight:bold;
  font-color:#40514E;
}



.skills {
   margin:70px auto 0px auto;
}

.skill-row {
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    lign-height:2;
}

  

.top-container {
      background-color: #EFFFFD ;
      position: relative;
      padding-top:60px;
}














 

